.table > tbody > tr > * {
  vertical-align: middle;
}

.card-header-color {
  background-color: #212529;
}

/* body{
  padding-top: 70px;
  background-color: #fff;
} */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

/* Tombol yang digunakan untuk membuka sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #212529;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 0px 20px 20px 0;
}

.openbtn:hover {
  background-color: #444;
}

/* Style konten halaman - gunakan ini jika Anda ingin mendorong konten halaman ke kanan saat Anda membuka navigasi samping */
#main {
  transition: margin-left 0.5s; /* Jika Anda menginginkan efek transisi */
  padding: 20px;
}

/* Pada layar yang lebih kecil, yang tingginya kurang dari 450px, ubah style sidenav (lebih sedikit padding dan ukuran font yang lebih kecil) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

#menu-btn {
  background-color: #100901;
  color: #fff;
  overflow-x: hidden;
  /* margin-left: -163px; */
}

div.dataTables_length {
  margin-right: 8.7em;
}

/*--------------------------------------------------------------
# Hero Section landing page
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url(../image/bgimage.png) top center;
  background-size: cover;
  position: relative;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}
#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}
@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: #2dc997;
  border: 2px solid #2dc997;
}

